.staterowone{
    background-color:#3D93FF;
    color: #FCF7FF;
}

.staterowtwo{
    background-color:#403F4C;
    color: #FCF7FF;
}


.statetext{
    font-size: 0.95em;
}

.statetextheading{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.statecount{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.lastupdated{
    margin-left: 5px;
    font-size: large;
    font-size: 15px;
}


