.statrow1{
    background-color:#3772FF;
    color: #FCF7FF;
}
.statrow2{
    background-color:#3772FF;
    color: #FCF7FF;
}
.statrow3{
    background-color:#3772FF;
    color: #FCF7FF;
}
.stattextr1{
    margin-top: 5px;
    
}