.statrow1{
    background-color:#3772FF;
    color: #FCF7FF;
}
.statrow2{
    background-color:#3772FF;
    color: #FCF7FF;
}
.statrow3{
    background-color:#3772FF;
    color: #FCF7FF;
}


.statrow11{
    background-color:#403F4C;
    color: #FCF7FF;
}
.statrow12{
    background-color:#403F4C;
    color: #FCF7FF;
}
.statrow13{
    background-color:#403F4C;
    color: #FCF7FF;
}

.stattextr1{
    margin-top: 5px;
    
}